<div class="contariner">
    <div class="row">
        <div class="col-4" *ngFor="let fotos of photos">
            <div class="card mt-5" style="width: 18rem;">
                <img [src]="fotos.url" class="card-img-top" >
                <div class="card-body">
                  <h5 class="card-title">{{ fotos.title }}</h5>
                        
                </div>
                <a [routerLink]="['/foto-detalle', fotos.id]" class="btn btn-primary">Ver Foto</a>
                <!--<a [routerLink]="['/user', post.userId]">Ver author</a>-->
              </div>

        </div>
    </div>
</div>

